/* Styling for the 'BlueArea' class */
.BlueArea {
    margin-top: 10px;
    padding-bottom: 50px;
    background-color: #06584e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the 'MainDivisions' class */
.MainDivisions {
    max-width: 1000px;
    width: 100%;
}

/* Styling for the 'MainHeaders' class */
.MainHeaders {
    margin-left: 10px;
    margin-right: 10px;
}

/* Styling for the 'HorizontalCards' class */
.HorizontalCards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

/* Styling for the 'ListItems' class */
.ListItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    padding-inline-start: 10px;
}

/* Styling for anchor tags within the 'ListItems' class */
.ListItems a {
    cursor: pointer;
}

/* Styling for the 'LowerArea' class */
.LowerArea {
    width: 100%;
    cursor: pointer;
    color: black;
}

/* Styling for the 'LowerDivisions' class */
.LowerDivisions {
    justify-content: space-around;
    font-weight: bold;
}

/* Styling for anchor tags within the 'LowerDivisions' class */
.LowerDivisions a {
    cursor: pointer;
}

.LowerArea h1 a{
    text-decoration: none;
    color: black;
}