/* This code is made by Anneshu Nag, Student ID- 2210994760  */
/*                    Dated- 26/08/2023                      */

/* Styling for the 'myCards' class */
.myCards {
    flex: 33.33%;
    /* Set the maximum width for the cards while accounting for margins */
    max-width: calc(33.33% - 20px);
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* Styling for the 'myCards' class when hovered */
.myCards:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

  
